/* Main container style */
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000; /* Ensure background color matches theme */
}

.container {
  border: 0px solid #623DCE; /* Purple border as per your color scheme */
  padding: 50px; /* Space inside the container */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between items in the container */
  background-color: #5D3FD3; /* Optional: if you want a purple background instead of just a border */
  background-image: linear-gradient(to bottom, #5D3FD3, #000000);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Adds shadow for depth */

}


/* Button container style */
.buttonBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Individual button styles */
.login, .signup {
  font-size: 1em;
  padding: 10px 24px;
  border-radius: 4px;
  margin: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(to bottom, #5D3FD3, #8459f7);
  border: 0px solid #5D3FD3;
  color: #ffffff;
}

.login:hover, .signup:hover {
  background-image: linear-gradient(to top, #5D3FD3, #8459f7);
}

