.nav {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #8459f7, #623DCE);
    padding: 1rem;
    margin: 0;
    border-bottom: 2px solid #5D3FD3;
    height: 60px;
  }
  
  .navLinks {
    margin-left: auto;
  }
  
  .nav a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .nav a:nth-last-child(2) {
    margin-right: 30px;
  }
  
  .btn_primary { /* login button */
    border: 2px solid #5D3FD3;
    background-color: #1A1A1A;
    color: #ffffff;
    margin-right: 40px;
  }
  
  .btn_primary:hover {
    border: 2px solid #8459f7;
    background-color: #8459f7;
  }
  
  .btn_secondary { /* sign up button */
    border: 2px solid #5D3FD3;
    background-color: #1A1A1A;
    color: #ffffff;
    margin-right: 50px;
  }
  
  .btn_secondary:hover { 
    border: 2px solid #8459f7;
    background-color: #8459f7;
  }
  
  .link {
    color: #000000;
  }

  .logo{
    height: 418;
    width: 429;
  }