.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000; /* Same background color as the signup page */
  padding-top: 80px;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #623DCE;
  padding: 20px;
  width: 50%;
  background-color: #5D3FD3;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3 {
  color: #000000;
  font-size: 24px;
  margin: 20px 0;
  font-weight: 800;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input {
  padding: 10px;
  border: 2px solid #623DCE;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 24px);
  color: #000000;
}

.submit {
  background-color: #1A1A1A;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

.submit:hover {
  background-color: #8459f7;
}

.link {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none; /* No underline by default */
  display: block; /* Ensures the link is on its own line */
  margin-top: 5px; /* Adds space above the link */
}

.link:hover {
  text-decoration: underline; /* Underline on hover */
}
.success {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}
.error {
  color: red; /* Ensures the text is red */
  font-size: 14px; /* Adjust size as necessary */
  margin-top: 0px; /* Spacing above the error message */
}