/* Dashboard.module.css */

.Home {
    display: flex;
    flex-direction: column; /* Align items in a vertical stack */
    align-items: center;
    justify-content: flex-start; /* Start aligning content from the top */
    background-color: #000000; /* Background color */
    min-height: 100vh; /* Full height */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Uniform padding around the edges */
    box-sizing: border-box; /* Include padding and border in the width and height */
}

.imageContainer {
    position: fixed;
    top: 210px; /* Adjust the top value to position the image below the taskbar */
    left: 20%;
    transform: translateX(-50%);
    width: 200px; /* Adjust the width of the image container */
    height: 200px; /* Adjust the height of the image container */
    border: 0px solid #623DCE;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5D3FD3;
    background-image: linear-gradient(to bottom, #5D3FD3, #000000); /* Replace 'path_to_your_image.jpg' with the path to your image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-size: cover;
    background-position: center;
    /*border-radius: 10px; /* Apply border radius to match the taskbar */
}


.imageText {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;

}




